# 
## Boolean value to enable diun (need diun service).
# DIUN_ENABLE=true
## Boolean value to enable watchtower (need watchtower service).
# WATCHTOWER_ENABLE=true
## Timezone value identified by it's TZ identifier (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List).
# TZ=America/New_York
##
# VOLUME_DIR=
